---
---
<div class="page-content">
  <slot />
</div>

<style>
  .page-content {
    max-width: var(--grid-max-width);
    margin: 0 auto;
    padding: 0 var(--grid-margin) var(--space-8);
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
  }
</style>
